
*.pt
*.pth
*DS_Storevenv/lib/python3.9/site-packages/torch/lib/libtorch_cpu.dylib
.DS_Store
.DS_Store/
.git/objects/5a/77fa6e49f4902de2a6dab31ed8f9d44f11b18c
.git/objects/pack/pack-dee2f47c64dc1c58375d4618756ddff286f1a535.pack
.git/objects/pack/tmp_pack_2MWoaW
.git/objects/pack/tmp_pack_XtSNfH
env/
notebooks/trainer_great/
__pycache__/
wandb/
trainer_great/
data/
pipeline_output/

.csv